<app-layout>
  <div class="container mx-auto px-4 py-12">
    <h2 class="text-3xl font-bold text-blue-900 mb-8">Our goals and values</h2>
    <div class="prose prose-lg max-w-4xl mx-auto">
      <p class="mb-8">
        We support women by providing them with the tools and knowledge to manage water resources
        sustainably and independently. Collaboration is at the heart of our mission, fostering
        connections between communities and volunteers to share resources and innovative solutions.
        Our commitment to sustainability drives us to promote long-term, eco-friendly practices that
        address the global water crisis. By prioritizing health and well-being, we aim to reduce
        waterborne diseases and improve living conditions. Inclusivity is essential to our approach,
        ensuring that every solution is tailored to meet the unique needs of diverse communities.
      </p>
      <p class="font-bold text-xl text-center">
        WE LOOK FORWARD TO EMPOWERING WOMEN IN VULNERABLE REGIONS TO OVERCOME THE CHALLENGES OF
        CLIMATE CHANGE BY IMPROVING ACCESS TO CLEAN WATER. THROUGH EDUCATION, PRACTICAL SOLUTIONS,
        AND COMMUNITY SUPPORT, WE AIM TO PROMOTE SUSTAINABLE WATER MANAGEMENT AND ENHANCE QUALITY OF
        LIFE.
      </p>
    </div>
  </div>
</app-layout>
