<app-layout>
  <div class="container mx-auto px-4 py-12">
    <h2 class="text-3xl font-bold text-blue-900 mb-8">Need help?</h2>
    <div class="max-w-3xl mx-auto">
      <ol class="list-decimal space-y-6 text-black">
        <li class="flex items-center gap-4">
          <span class="font-bold">Step 1</span>
          <p>Go to the menu and click on "Identify"</p>
        </li>
        <li class="flex items-center gap-4">
          <span class="font-bold">Step 2</span>
          <p>Click on the camera icon and take or upload a picture of the place</p>
        </li>
        <li class="flex items-center gap-4">
          <span class="font-bold">Step 3</span>
          <p>The platform will identify the condition of the water and classify it in one of the 3 categories</p>
        </li>
        <li class="flex items-center gap-4">
          <span class="font-bold">Step 4</span>
          <p>Tips and actions to take will be recommended according to the situation</p>
        </li>
        <li class="flex items-center gap-4">
          <span class="font-bold">Step 5</span>
          <p>Questions and answers from the forum will be also suggested to you</p>
        </li>
        <li class="flex items-center gap-4">
          <span class="font-bold">Step 6</span>
          <p>Contact nearby volunteers to help you act and share your experience!</p>
        </li>
      </ol>
    </div>
  </div>
</app-layout>
